<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Mycat | schema配置</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <div th:replace="common/css"></div>
</head>
<body>
<div id="app">
    <!-- aside -->
    <div th:replace="common/side"></div>

    <!-- container -->
    <el-container class="main-container">
        <!-- header -->
        <div style="background-color: rgb(84, 92, 100);" th:replace="common/header"></div>

        <!-- main -->
        <el-main class="app-main">
            {{MycatSchemaConfig}}
            <el-card>
                <el-divider content-position="left"><h3>Mycat schema配置数据</h3></el-divider>
            </el-card>
<!--            <el-tree :data="MycatSchemaConfig" default-expand-all="true" :props="defaultProps"></el-tree>-->
        </el-main>
    </el-container>
</div>
<div th:replace="common/js"></div>
<script type="text/javascript" th:src="@{/js/mycat/properties/schema.js}"></script>
</body>
</html>
